body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.container {
    display: flex;
    position: relative;
    align-items: center;
    width: auto;
    height: 20em;
    background-color: #052767;
    color: white;
}

.picture {
    height: 15.625em;
    width: 15.625em;
    border-radius: 50%;
    margin-left: 5em;
}

.infos {
    margin-left: 3em;
}

.infostwo {
    align-items: center;
    margin-left: 25em;
}

.name {
    font-size: 4.5em;
    line-height: 10px;
}

.fa-phone{
    color: orange;
}

.fa-location-dot{
    color: orange;
}

.fa-envelope{
    color: orange;
}

.description-container {
    text-align: justify;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.grid-containerone {
      display: grid;
      column-gap: 100px;
      grid-template-columns: 300fr 300fr 300fr;
      align-items: center;
      padding-left: 5em;
}

.lang-height {

}

.bordered {
    margin-left: 4em;
    width: 56em;
    border-bottom: 1px solid black;
}

.grid-containertwo {
      display: grid;
      column-gap: 100px;
      grid-template-columns: 300fr 300fr;
      align-items: center;
      padding-left: 5em;
}

.grid-containerthree {
      display: grid;
      column-gap: 100px;
      grid-template-columns: 300fr 300fr;
      align-items: center;
      padding-left: 5em;
}

.container-four {
    padding-left: 5em;
    padding-right: 5em;
    height: 8em;
    position: relative;
}

