
html {
    background-color: #1f1f1f;
}


body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 67em;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    /*padding:30px;*/
}

.nopoint {
    list-style-type:none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.header {
    display: flex;
    background-color: #052767;
    color: white;
    align-items: center;
}

.header li {
    list-style-type:none;
}

.picture {
    height: 12.625em;
    width: 12.625em;
    border-radius: 50%;
    margin: 20px 55px;
}

.infos {
    padding-left: 350px;
    text-align: end;
}

.infos li {
    padding: 10px;
}

.name {
    font-size: 3.5em;
}

.icon-color {
    color: #f45154;
}

.description {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: justify;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 1.2em;
    padding-right: 2.5em;
}

.lang {
    list-style-type:none;

}

.progressbar {
    background-color: #e8e8e8;
    height: 9px;
    width: 10em;
    border-radius: 50px;
    margin: 0.6em;
}

.valueone {
    background-color: #fc5a4c;
    width: 10em;
    height: 9px;
    border-radius: 50px;

}

.valuetwo {
    background-color: #fc5a4c;
    width: 8em;
    height: 9px;
    border-radius: 50px;

}

.valuethree {
    background-color: #fc5a4c;
    width: 5em;
    height: 9px;
    border-radius: 50px;

}

.bordered {
    margin-left: 2.8em;
    width: 38.5em;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.training {
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
}

.exp {
    display: flex;
    padding-left: 3em;

}

.task {
    padding-left: 135px;
}

.interest {
    display: flex;
    padding-left: 5em;
}

.interest ul {
    margin: 2px;
    padding: 1px;
}

.icon {

}

.text {

}



