body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.container {
    display: flex;
    position: relative;
    align-items: center;

    width: auto;
    height: 20em;
    background-color: blue;
    border: 1px solid black;
}

.picture {
    height: 15.625em;
    width: 15.625em;
    border-radius: 50%;
    margin-left: 5em;
}

.infos {
    align-items: center;
    margin-left: 3em;
}

.infostwo {
    align-items: center;
    margin-left: 25em;
}

.description-container {
    text-align: justify;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: coral;
    border: 1px solid black;
}

.container-one {
    align-items: center;
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    background-color: pink;
    border: 1px solid black;
    height: 5em;
    position: relative;
    justify-content: space-between;
}

.bordered {
    padding-left: 4em;
    background-color: pink;
    border: 1px solid black;
}

.align-info {
   line-height: 1px;
}

.container-two {
    align-items: center;
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    background-color: pink;
    border: 1px solid black;
    height: 6em;
    position: relative;
    justify-content: space-between;
    line-height: 2px;
}

.container-three {
    align-items: center;
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    background-color: pink;
    border: 1px solid black;
    height: 10em;
    position: relative;
    justify-content: space-between;
}

.container-four {
    padding-left: 5em;
    padding-right: 5em;
    background-color: pink;
    border: 1px solid black;
    height: 8em;
    position: relative;
}

.box {
  height: 150px;
}

.containeur {
    height: 18em;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    background-color: blue;
    padding-left: 2em;
}